// Color Reference:
// http://www.fubiz.net/2015/04/20/the-colors-of-star-wars-palettes/the-colors-of-star-wars-palettes-3/

$sw-white: #ffffff;
$sw-yellow: #d7c078;
$sw-pink-light: #f1b083;
$sw-pink: #892438;
$sw-red: #b62321;
$sw-brown: #4b3a2e;
$sw-blue-dark: #0b1b36;
$sw-blue-light-dark: #3d5e78;
$sw-blue: #15509f;
$sw-grey: #f1f1f1;
