@import '../../styles/_color-variables';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: $sw-grey;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    &_card {
        flex-grow: 1;
        min-width: 25rem;
        max-width: 30rem;
        margin: 1rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 5rem 0 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0 2rem;
        color: $sw-blue-light-dark;
        cursor: pointer;
    }

    .selected {
        font-weight: bold;
        text-decoration: underline;
    }
}