@import '../../styles/_color-variables';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-image: url('../../../../assets/images/background-full.jpg');
    background-color: $sw-pink-light;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    box-sizing: border-box;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;

    &_card {
        width: calc((100% - 2rem * 5) / 5);
        min-width: 20rem;
        margin: 1rem;
    }
}