@import '../../styles/_color-variables';

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem;
    background-image: url('../../../../assets/images/background-characters.jpg');
    background-color: $sw-brown;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    box-sizing: border-box;

    &-content {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 3.2rem;
        line-height: 1.5;

        &_name {
            font-size: 4rem;
        }

        li {
            position: relative;
            color: $sw-white;

            strong {
                margin-right: 1rem;
                font-size: 1.8rem;
                text-transform: uppercase;
            }
        }
    }

    .back-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20rem;
        height: 5rem;
        margin-top: 3rem;
        border: 0.1rem solid $sw-white;
        border-radius: 0.2rem;
        color: $sw-white;
        font-size: 1.6rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

.related-title {
    margin: 4rem 0 2rem;
    font-size: 3.2rem;
    color: $sw-white;
}

.related-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 25rem;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-sizing: border-box;
    box-shadow: 0 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.35),
    0 0.3vh 0.3vh 0 rgba(0, 0, 0, 0.17),
    0 0.4vh 1.09375vh 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;

    &-top {
        flex-grow: 1;
        background-color: $sw-pink;
    }

    &-bottom {
        display: flex;
        align-items: center;
        min-height: 6rem;
        padding: 0 1rem;
        background: $sw-white;
        box-sizing: border-box;

        &_title {
            margin: 0;
            font-size: 1.6rem;
        }
    }

    &:active {
        opacity: 0.8;
        box-shadow: none;
    }
}